* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.full-width {
  justify-content: center;
  padding: 8px 0;
}

.container {
  width: 85%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.flex-col li {
  margin: 0 16px;
}
.pad-e {
  padding-right: 24px;
}

.border-r {
  border-right: 1px solid #ccc;
}

.text-color {
  color: #4d4d4d;
  position: relative;
  text-decoration: none;
  margin: 0 8px;
  width: 0%;
  font-weight: bold;
  font-size: 0.8rem;
}

.text-color::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 0%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease, width 0.3s ease;
}

.text-color:hover::after {
  width: 100%;
  color: #181818;
}

.text-color.active::after {
  background-color: #181818;
  z-index: 2;
}

.gaming {
  position: absolute;
  width: max-content;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.gaming li {
  height: 100%;
}
#gaming{
  top: 37px;
  right: 460px;
}

.text-content {
  display: block;
  padding: 8px 16px;
  margin: 8px 0;
  color: #333;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

.text-content:hover {
  background-color: #f5f5f5;
  color: #006ce1;
}



.logo-item {
  display: flex;
  flex-direction: row;
}

img {
  transition: all 0.3s ease;
}

.logo-item img:hover {
  transform: scale(1.1);
}
.margin-es{
  margin-right: 24px;
}
.color-label{
  color: #4d4d4d;
}
.color-label:hover{
  color: #181818;
}
.padding-x{
  padding: 8px 0;
}
.padding_y{
  margin-left: 80px;
}
.w-25{
  width: 25%;
}
.justify{
  justify-content: end;
}
.padding-y{
  padding: 0 14px;
}
.center{
  justify-content: center;
}
article{
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-color: #f5f5f5;
  text-align: center;
  margin: 18px 16px;
}
.border-left{
  padding: 8px;
  height:500px;
  border-right: 1px solid #ccc;
}
.pad-x{
  padding: 24px 400px;
  justify-content: start;
  border-bottom: 1px solid #ccc;
}
.padding-top{
  padding-top: 16px;
}
.titel{
  color:#818181
}
.bg-hover{
  padding: 8px 16px;
  color:#4d4d4d
}
.bg-hover:hover{
  background-color: #f5f5f5;
  color: #181818;
}
.text-content-new{
  padding: 8px 0;
  margin-top: 80px;
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
}
.text-content-new:hover {
  background-color: #f5f5f5;
  color: #006ce1;
}
.padding{
  padding: 8px;
  margin-bottom: 8px !important;
}
.padding-c{
  padding: 16px 8px;
}
.text-decoration {
  color: #4d4d4d;
  position: relative;
  text-decoration: none;
  font-size: 0.9rem;
}

.text-decoration::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px; 
  width: 0%;
  height: 2px; 
  background-color: #181818; 
  transition: width 0.3s ease;
  z-index: 2; 
}

.text-decoration:hover::after {
  width: 100%;
}
#support {
  top: 88px;
  right: 430px;
}

.menubar {
  height: 450px;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-right: 1px solid #ccc; 
}

.menubar:last-child {
  border-right: none;
}

.menu{
  height: 500px;
  display: none;
  border-bottom: 1px solid #ccc;
  padding: 24px 420px ;
}


#titer{
  color: #818181;
}
.cruser{
  cursor: default;
  color: #4d4d4d;
}
.cruser:hover{
  color: #181818;
  background-color: #f5f5f5;
}
.cruser-hover{
  color: #181818;
  background-color: #f5f5f5;
}
.flex-colm{
  display: flex;
  flex-direction: row;
}
.menu-padding{
  padding: 8px 24px;
}
.color-item{
  color: #181818;
}
.color-item:hover{
  color: #006ce1;
  background-color: #f5f5f5;
}
article img{
  margin: 8px auto;
  width: 116px;
  height: 116px;
  transition: all 0.3 ease;
}
article img:hover{
  transform: scale(1.1); 
}
.show {
  display: block ;
}
.defult{
  color:#181818;
}
.color-icon {
  filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(30%) contrast(90%);
}

.menu-padding:hover .color-icon {
  filter: none;
}
.hide{
  display: none;
}
